.menu {
    border: 1px solid lightgray;
    width: 300px;
    min-height: 300px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgray;
    border-radius: 5px;
    text-align: center;
}

.element {
    position: relative;
    display: flex;
    margin: 10px;
}

.element div:nth-child(2) {
    margin-left: auto;
}

.price {
    position: absolute;
    right: 50px;
}

.tamak {
    left: 15px;
}

.close {
    position: absolute;
    right: 0px;
    font-size: 20px;
}
.price, .tamak, .close:hover {
    cursor: pointer;
}

.close:hover {
    background-color: black;
    color: white;
}
.priceAll {
    text-align: center;
}
